.bookCleaning_btn {
  border: 2px solid #098ea8;
  background-color: #0dcaf0;
}
nav {
  width: 100%;
  height: 10%;
}
.nav_content {
  font-size: 20px;
}
.front_page_image {
  object-fit: cover;
  height: 100%;
}
.image_container {
  background: rgba(0, 0, 0, 0.18);
  height: 67%;
}
.image_content {
  position: absolute;
  top: 25%;
  left: 25%;
}
h1 {
  font-size: 70px;
}
input {
  border: 1px solid #e8e8e8;
}
.continue_btn {
  background-color: #45c3d3;
}
.continue_btn {
  padding-top: 7px;
  padding-bottom: 7px;
  border: solid 1px #2ea8b7;
}
.input_container {
  width: 100%;
}
.our_clients {
  position: absolute;
  top: 77%;
  background: #f6fbfc;
  border-bottom: 2px solid #d0f0f4;
  height: 15%;
}
/* border left and right */
article {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

h6 {
  display: flex;
  align-items: center;
  color: #7e8388;
  margin-top: 20px;
}

h6:before,
h6:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #7e8388;
}

h6:before {
  margin: 0 20px 0 0;
}

h6:after {
  margin: 0 0 0 20px;
}
/*end:-  border left and right */
.center_block {
  position: absolute;
  top: 96%;
}
.section_one {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.1;
  color: #3f4b5e;
}
.works {
  font-size: 70px;
  font-weight: 500;
  color: #45c3d3;
  border-bottom: 5px solid #45c3d3;
}
.section_two {
  color: #8b9aab;
  font-weight: 300;
  font-size: 16px;
}
.mid_section_icon {
  width: 50%;
  height: 50%;
  padding: 10px;
  margin-left: 25%;
}
.icon_text {
  font-size: 32px;
}
.testimonial {
  background-color: #fafafa;
  width: 100%;
  padding-bottom: 5%;
}
.box {
  width: 280px;
  height: 265px;
  border: 3px solid #d0f0f4;
  background-color: rgb(255, 255, 255);
  color: #3f4b5e;
  padding: 24px;
  position: relative;
  margin: 40px;
  float: left;
}
.box.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 127px;
  bottom: -15px;
  border-top: 15px solid #d0f0f4;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
.inverted_comma {
  width: 25px;
  height: 25px;
}
.servce_title {
  background-color: #45c3d3;
  width: 100%;
  height: 100%;
}
.servce_title > .title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 200;
}
.correct_sign {
  width: 25px;
  height: 25px;
}
li {
  list-style: none;
}
.service_container {
  text-align: left;
}
.service_section_one {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  color: #3f4b5e;
  text-align: left;
}
.living_room {
  font-size: 40px;
  font-weight: 500;
  color: #45c3d3;
  border-bottom: 3px solid #45c3d3;
}
.service_img2 {
  object-fit: cover;
}
.second_service {
  padding-left: 15%;
}
.list_items {
  color: #8b9aab;
}
.booking {
  background: #f6fbfc;
  border-top: 2px solid #d0f0f4;
  text-align: center;
}
.booking_heading {
  color: #3f4b5e;
  font-size: 65px;
  font-weight: 400;
}
.booking_text {
  color: #8b9aab;
  font-weight: 300;
}
footer {
  background-color: #45c3d3;
}
.links {
  padding-left: 30px;
}
.subscribe-form {
  border-radius: 2px;
  border: 2px solid #168d9b;
}
#subscribe_form::placeholder {
  color: #45c3d3;
}
.input-group-text {
  background-color: #168d9b;
  color: white;
  font-size: 26px;
  cursor: pointer;
  border-right: 1px solid #126770;
  border-top: 1px solid #126770;
  border-bottom: 1px solid #126770;
}
#subscribe_form {
  padding: 12px 14px;
  border-radius: 2px;
  border: 2px solid #168d9b;
  width: 25%;
}
.social_icon{
  width: 45px;
  height: 45px;
}
.social_icon_google_plus{
  width: 55px;
  height: 55px; 
}
.form_container{
  width: 90%;
}
.footer-section{
  width: 75%;
  border-bottom: 0.5px solid #29a9b8;
}