<main class="vw-100 vh-100">
    <nav class=" bg-white d-flex justify-content-center">
        <div class="d-flex align-items-center justify-content-between px-5 w-75 h-100">
            <div>
                <img src="../../assets/logo.png" alt="">

            </div>
            <div class="d-flex align-items-center justify-content-between">
                <span class="nav_content me-5 ">How it works</span>
                <span class="nav_content me-5">Our Services</span>
                <span class="bookCleaning_btn me-5 text-white fs-5 rounded px-4 py-2 bg-info">Book a cleaning</span>
            </div>
        </div>
    </nav>

    <div class=" image_container position-absolute w-100 ">
        <img class="front_page_image z-n1 position-absolute w-100 " src="../../assets/landing-img.jpg" alt="">
    </div>
    <div class=" image_content align-items-center justify-content-center flex-column text-center w-50">
        <div class="d-flex flex-column z-1">
            <h1 class=" heading  text-white pb-3">Cleaning Made Easy</h1>
            <span class="fs-3 lh-sm text-white">Book expert home cleaners and handymen at a moment's notice.</span>
            <span class="fs-3 lh-sm text-white pb-5">Just pick a time and we'll do the rest.</span>
        </div>
        <div class="input_container d-flex align-items-center justify-content-center">
            <input class="ps-4 py-4 w-50" type="email" placeholder="Email address">
            <input class="ps-4 py-4 w-25" type="number" placeholder=" Zip Code">
            <span class="continue_btn w-25 py-3 px-3 fs-3 text-white">Continue <i
                    class="bi bi-chevron-compact-right"></i></span>
        </div>
    </div>
    <div class="our_clients w-100 ">
        <article>
            <h6>AS&nbsp;SEEN&nbsp;ON</h6>
        </article>
        <div class="d-flex align-items-center justify-content-between w-50 mx-auto pt-4">
            <img src="../../assets/client1.png" alt="">
            <img src="../../assets/client2.png" alt="">
            <img src="../../assets/client3.png" alt="">
            <img src="../../assets/client4.png" alt="">
        </div>
    </div>

    <div class="center_block w-100 text-center d-flex flex-column  justify-content-center">
        <div class="pb-4">
            <span class="section_one">How it&nbsp;</span><span class="works">works</span>
        </div>
        <span class="section_two fs-5">We've made all the hardwork for making it simple for you. Here's how it
            works</span>
        <div class="d-flex justify-content-between w-75 mx-auto mt-5">
            <div class="d-flex flex-column">
                <img class="mid_section_icon" src="../../assets/calendar-date-svgrepo-com.svg" alt="">
                <span class="icon_text ">Book a Cleaning</span>
                <span class="section_two fs-5">Click the book now button to make a booking on</span>
                <span class="section_two fs-5">your preffered date and time</span>
            </div>
            <div class="d-flex flex-column">
                <img class="mid_section_icon" src="../../assets/lock-svgrepo-com.svg" alt="">
                <span class="icon_text ">Book a Cleaning</span>
                <span class="section_two fs-5">Click the book now button to make a booking on</span>
                <span class="section_two fs-5">your preffered date and time</span>
            </div>
            <div class="d-flex flex-column ">
                <img class="mid_section_icon" src="../../assets/home-svgrepo-com.svg" alt="">
                <span class="icon_text ">Book a Cleaning</span>
                <span class="section_two fs-5">Click the book now button to make a booking on</span>
                <span class="section_two fs-5">your preffered date and time</span>
            </div>
        </div>
        <div class="testimonial ">
            <div>

                <div class="pb-4">
                    <span class="section_one">How it&nbsp;</span><span class="works">works</span>
                </div>
                <span class="section_two fs-5">We've made all the hardwork for making it simple for you. Here's how it
                    works</span>
            </div>


            <div class="d-flex justify-content-between w-75 m-auto">
                <div class="d-flex align-items-center justify-content-center flex-column h-100">
                    <div class="box arrow-bottom ">
                        <img class="inverted_comma" src="../../assets/inverted-commas-svgrepo-com.svg" alt="">
                        <div>
                            Maid Services NYC is a wonderful service. I utilized their services to clean a one bedroom
                            apartment
                            I was staying in NYC after throwing a get together. They were prompt, left the place
                            spotless, and
                            very professional.
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="fs-3 lh-sm">Sandra</span>
                        <span class="section_two lh-sm fs-5">Marketing Staff, New York</span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column h-100">
                    <div class="box arrow-bottom ">
                        <img class="inverted_comma" src="../../assets/inverted-commas-svgrepo-com.svg" alt="">
                        <div>
                            Maid Services NYC is a wonderful service. I utilized their services to clean a one bedroom
                            apartment
                            I was staying in NYC after throwing a get together. They were prompt, left the place
                            spotless, and
                            very professional.
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="fs-3 lh-sm">Jessica</span>
                        <span class="section_two lh-sm fs-5">Photographer, New York</span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column h-100">
                    <div class="box arrow-bottom ">
                        <img class="inverted_comma" src="../../assets/inverted-commas-svgrepo-com.svg" alt="">
                        <div>
                            Maid Services NYC is a wonderful service. I utilized their services to clean a one bedroom
                            apartment
                            I was staying in NYC after throwing a get together. They were prompt, left the place
                            spotless, and
                            very professional.
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="fs-3 lh-sm">Samantha</span>
                        <span class="section_two lh-sm fs-5">Physical Therapist, Manhattan</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="servce_title   p-3">
            <span class="title">Check out some of our <span
                    class="services border-2 border-bottom border-white">services!</span></span>
        </div>
        <div class="d-flex w-100  h-50">
            <div class="w-50 bg-success">
                <img src="../../assets/service-img1.jpg" class="w-100 h-100" alt="">
            </div>
            <div class="p-5 w-50 text-start">
                <div class="pb-4">
                    <span class="service_section_one ">Make Better &nbsp;</span><span class="living_room">Living
                        room</span>
                </div>
                <div class="service_container d-flex flex-column ">
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Cleaning and highrise dusting</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Furniture Dusting/Vacuuming</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Fixtures cleaning - A/C,Fan etc</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Wall marks cleaning (Washable paint)</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Floor scrubbing / Dry and Wet mop</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Carpet vacuuming</span>
                </div>
            </div>
        </div>
        <div class="d-flex w-100  h-50">
         
            <div class="ps-4 w-100 h-100 text-start">
                <div class="pb-4 w-50 h-50">
                    <span class="service_section_one ">Make Better &nbsp;</span><span class="living_room">Living
                        room</span>
                </div>
                <div class="service_container d-flex flex-column w-100 h-50">
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Cleaning and highrise dusting</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Furniture Dusting/Vacuuming</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Fixtures cleaning - A/C,Fan etc</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Wall marks cleaning (Washable paint)</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Floor scrubbing / Dry and Wet mop</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Carpet vacuuming</span>
                </div>
            </div>
            <div class="w-100 bg-success">
                <img src="../../assets/service-img1.jpg" class="w-100 h-100" alt="">
            </div>
        </div>
        <!-- <div class="d-flex w-100 text-start">
           
            <div class="p-4 w-50">
                <div class="pb-4">
                    <span class="service_section_one">Make Better &nbsp;</span><span class="living_room">Living
                        room</span>
                </div
                <div class="service_container d-flex flex-column w-100 h-100 ">
                    <span class=" mb-2"><img  src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Cleaning and highrise dusting</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Furniture Dusting/Vacuuming</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Fixtures cleaning - A/C,Fan etc</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Wall marks cleaning (Washable paint)</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Floor scrubbing / Dry and Wet mop</span>
                    <span class=" mb-2"><img src="../../assets/correct-signal-svgrepo-com.svg" class="correct_sign me-2"
                            alt="">Carpet vacuuming</span>
                </div>
            </div>
            <div class="w-50 h-100 ">
                <img src="../../assets/service-img1.jpg" class="service_img2 w-100" alt="">
            </div>
        </div> -->
    </div>

</main>